@model DDLDotNetCoreEF.Models.GlobalCitizen

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>GlobalCitizen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="CreationUser" />
            <input type="hidden" asp-for="CreationDateTime" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                @Html.RadioButtonFor(model => model.Gender, "0", "Male") Male
                @Html.RadioButtonFor(model => model.Gender, "1", "Female") Female
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="CountryName" class="control-label"></label>
                <input asp-for="CountryName" class="form-control" />
                <span asp-validation-for="CountryName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ContinentCode" class="control-label"></label>
                <select asp-for="ContinentCode"
                        class="form-control"
                        asp-items="@(new SelectList(@ViewBag.ContinentList,"ContinentID", "ContinentName"))"></select>
                <span asp-validation-for="ContinentCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
